{% extends 'base.html.twig' %}
{% block body %}
    <h1>Bienvenu sur mon Blog !</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit nesciunt necessitatibus enim quis accusamus asperiores impedit voluptatem? Reprehenderit officia excepturi dignissimos. Suscipit nemo obcaecati aliquam ipsum, harum adipisci eos ab!
    Quod deleniti error laudantium nisi quis enim, corporis impedit nam, rerum ipsum ut id cum repellendus facere cupiditate? Error doloribus, quasi magnam illo modi culpa eum necessitatibus consectetur facere. Vel.
    Error officia labore deleniti eligendi, consectetur eius quod dignissimos cupiditate reprehenderit repellendus? Ad quo soluta quibusdam porro, expedita minus impedit accusantium nesciunt vero sint voluptates! Et totam recusandae voluptatibus odit!
    Sit eveniet non dolorum iusto mollitia doloribus dolor autem dolores soluta! Animi nobis voluptatibus, quae sequi harum nihil neque aspernatur. Porro aspernatur laboriosam eligendi dicta temporibus ad, atque perspiciatis ab?
    Numquam consectetur quaerat impedit quos! Molestiae minima unde voluptate reprehenderit enim illum dolorem asperiores accusantium, nisi impedit, neque labore aspernatur velit tenetur quas fugit, consectetur at provident cumque rerum eligendi?</p>
{% endblock %}